# Luarocks specific paths
/config.*
/src/luarocks/core/hardcoded.lua
/testrun/*
/lua_install
/build
/build-binary
/*.rock
/*.tar.gz
/*.zip
/prefix-*
/dev_*
/gh-pages
/wiki
/lua
/lua_modules
/luarocks
/luarocks-admin
/.luarocks
/.luacheckcache

# Compiled Lua sources
luac.out

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
